body{
	background-color: #eee;
}

.navbar{
	background-color: white;
	background-image: none;
	border-color: transparent;
	box-shadow: 0px 0px 16px #aaa;
	position: fixed;
	margin-bottom: 0px;
}

.navbar h2{
	/*font-size: 1px;*/
	font-weight: bolder;
}

.navbar .container{
	/*margin-left: 24px;
	width: 92%;*/
	height: 100px;
}

.navbar .fa-home{
	font-size: 50px;
	color: #333;
}

.navbar .container h2,
.navbar .container h5
{
	text-align: center;
}

.island{
	position:absolute;
}


svg.svgtext {
	margin: 100px;
	padding: 50px;
	height:100%;
 	width:100%;
	font-size: 100px; 
  	text-transform:uppercase;
	font-weight:bolder;
	position: fixed;
	z-index: 0;
}

#text { 
  	fill: url(#img1);
	stroke:black; 
	  stroke-width:0;
}
#text:hover{filter:url(#dropshadow)}

main{
	position: absolute;
	width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
	background-color: #eee;
	background-image: url(/images/bi_lrg.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 100px;
}

.land{
	/*height: 250px;*/
	/*width:150px;*/
	width: 150px;
}

.level-progress{
	height: 10px !important;
	width: 150px;
	border-radius: 0px !important;
	margin-bottom: 2px !important;
}

.level-progress .progress-bar-info{
	background-color: #999 !important;
	background-image: linear-gradient(to bottom,#286090 0,#286090 100%);
}

.level{
	font-weight: bold;
}

.total{

}

.total-clicks{
	font-weight: bold;
	font-size: 20px;
}