body{
	background-color: #eee;
}

.navbar{
	background-color: white;
	background-image: none;
	border-color: transparent;
	box-shadow: 0px 0px 16px #aaa;
	position: fixed;
	margin-bottom: 0px;
}

.navbar h2{
	/*font-size: 1px;*/
	font-weight: bolder;
}

.navbar .container{
	margin-left: 24px;
	height: 100px;
	width: 92%;
}

.navbar .fa-home{
	font-size: 50px;
	color: #333;
}

.island{
	position:absolute;
}


svg.svgtext {
	margin: 100px;
	padding: 50px;
	height:100%;
 	width:100%;
	font-size: 100px; 
  	text-transform:uppercase;
	font-weight:bolder;
	position: fixed;
	z-index: 0;
}

#text { 
  	fill: url(#img1);
	stroke:black; 
	  stroke-width:0;
}
#text:hover{filter:url(#dropshadow)}


.main{
	margin-top: 100px;
	width: 100%;
	background-color: #0cc;
}