<link rel="stylesheet" href="<%= static_path(@conn, "/css/animations.css") %>">

<input id="message-input" type="text" />
<div class="total-clicks">
</div>

<script src="<%= static_path(@conn, "/js/island.js") %>"></script>
